{% extends 'base.html' %}
{% block sub_css %}other_nav.css{% endblock %}
{% block css %}blog.css{% endblock %}
{% block title %}Blog{% endblock %}
{% block body %}
    {% include 'nav_other.html' %}
    <main>
        <div class="page_header">
            <div class="container">
                <div class="page__inner">
                    <h2>БЛОГ КОМПАНИИ</h2>
                    <p>Список новостей компании Woodtech и статей на тему архитектурного <br> дизайна,
                        проектирования и дизайна интерьеров.</p>
                </div>
                <div class="blog_items">
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image.png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(1).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(2).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(3).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(4).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(5).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(6).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(7).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(8).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(9).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(10).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                    <div class="bg_item">
                        <div class="item__inner">
                            <img src="../static/img/blog/image(11).png" alt="">
                            <h3>ПОСТРОИЛИ ПОТРЯСАЮЩУЮ ДЕРЕВЯННУЮ ЛЕСТНИЦУ</h3>
                            <p>Один из самых необыкновенных проектов нашей компании
                                - винтовая деревянная лестница в старинном стиле.</p>
                            <a href="#">Читать полностью</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}