{% extends 'base.html' %}
{% block sub_css %}other_nav.css{% endblock %}
{% block css %}company.css{% endblock %}
{% block title %}About us{% endblock %}
{% block body %}
    {% include 'nav_other.html' %}
    <main>
        <div class="page_header">
            <div class="container">
                <div class="page__inner">
                    <h2>О компании «Woodtech»</h2>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является <br>
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный <br>
                        печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        <br> распечатки
                        образцов. Lorem Ipsum не только успешно пережил.
                    </p>
                    <img src="../static/img/company/about-installation_1.png" alt="">
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является <br>
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный <br>
                        печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        <br> распечатки
                        образцов. Lorem Ipsum не только успешно пережил.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является <br>
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный <br>
                        печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        <br> распечатки
                        образцов. Lorem Ipsum не только успешно пережил.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является <br>
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный <br>
                        печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        <br> распечатки
                        образцов. Lorem Ipsum не только успешно пережил.
                    </p>
                    <img src="../static/img/company/installation-2.png" alt="">
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является <br>
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный <br>
                        печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        <br> распечатки
                        образцов. Lorem Ipsum не только успешно пережил.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является <br>
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный <br>
                        печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        <br> распечатки
                        образцов. Lorem Ipsum не только успешно пережил.
                    </p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                        является <br>
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный <br>
                        печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                        <br> распечатки
                        образцов. Lorem Ipsum не только успешно пережил.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}