<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer_item">
                <img src="../static/img/main/footer_logo.svg" alt="logo" class="footer_logo name_item">
                <h3 class="footer_about_us">КОРОТКО О НАС</h3>
                <p>
                    Мы досконально прорабатываем, а затем обсуждаем с нашими клиентами внешний вид каждого изделия.
                    Мы крайне редко повторяемся, ведь мы знаем, что вы цените индивидуальность и не готовы
                    довольствоваться готовыми решениями.
                </p>
            </div>
            <div class="footer_item">
                <h3 class="name_item">МЕНЮ</h3>
                <ul class="footer_list">
                    <li><a href="/home">Главная</a></li>
                    <li><a href="/services">Услуги</a></li>
                    <li><a href="/blog">Блог</a></li>
                    <li><a href="/company">Компания</a></li>
                </ul>
            </div>
            <div class="footer_item">
                <h3 class="name_item">Услуги</h3>
                <ul class="footer_list">
                    <li><a href="index.html">Дизайн интерьера</a></li>
                    <li><a href="#">Проектирование</a></li>
                    <li><a href="#">Поставка дерева</a></li>
                    <li><a href="#">Ремонт</a></li>
                    <li><a href="#">Концепт</a></li>
                    <li><a href="#">Выезд мастера</a></li>
                </ul>
            </div>
            <div class="footer_item">
                <h3 class="name_item">МЫ В СОЦ. СЕТЯХ</h3>
                <p>Подпишитесь на нас в социальных сетях, чтобы не пропустить выход новых невероятных проектов,
                    разработанных для наших клиентов по всему миру.</p>
                <div class="footer_icons">
                    <a href="#"><img src="../static/img/main/instagram.svg" alt=""></a>
                    <a href="#"><img src="../static/img/main/vk.svg" alt=""></a>
                    <a href="#"><img src="../static/img/main/fb.svg" alt=""></a>
                    <a href="#"><img src="../static/img/main/tw.svg" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</footer>